$vf-primary: 10, 127, 120;
$vf-secondary: 121, 49, 177;
$vf-danger: 255, 71, 87;
$vf-success: 70, 201, 58;
$vf-warning: 155, 186, 0;
$vf-dark:30, 30, 30;
$vf-light: 245, 245, 245;

$vf-colors: (
  primary: $vf-primary,
  secondary: $vf-secondary,
  danger: $vf-danger,
  success: $vf-success,
  warning: $vf-warning,
  dark: $vf-dark,
  light: $vf-light
);
:root {
  @each $name, $color in $vf-colors {
    --vf-#{$name}: #{$color};
  }
}

@function getColor($colorx, $alpha: 1) {
  @return  #{unquote("rgba(var(--vf-"+$colorx+"), "+$alpha+")")};
}
